# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.napari_cache/

# Documentation builds
docs/_build/
doc/_build/
site/

# IDE / editor settings
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# Notebook / interactive Python
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Type checker caches
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# OS files
.DS_Store
Thumbs.db

# Environment / local config
.env
.python-version
local_settings.py

# PyInstaller
*.manifest
*.spec

# Python build helpers
target/
__pypackages__/

# Django / Flask / Scrapy local files
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy/

# Celery local files
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Written by setuptools_scm
**/_version.py

# Ignore folders containing brain atlases
src/napari_dmc_brainmap/atlas/
src/napari_dmc_brainmap/registration/sharpy_track/atlas/
src/napari_dmc_brainmap/registration/sharpy_track/sharpy_track/atlas/
